<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filePatternName">${date:yyyy-MM-dd}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="File" filePattern="Logs/$${date:yyyy-MM-dd}/logs %d{yyyy-MM-dd HH-mm}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1024"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pageObjects.HomePage" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="pageObjects.LogingPage" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="learning.LoginTest" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="learning.PracticeLoginPage" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="learning.AcademyMainPage" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="learning.PracticePage" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="learning.LoginToPracticeTest" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>